@import url(./reset.css);

.main{
  width: 980px;
  margin: 0 auto;
}

/* 루트 */
:root {
  --color-point-green: #b7f932;
}

::-webkit-scrollbar {
  display: none;
}

.clearfix::after{
  content: '';
  display: inline-block;
  clear: both;
}
